<h2>Atendente criado</h2>
<strong>Email:</strong> <span id='email'><%= @user.email %></span>
<hr/>
<%= link_to 'Criar novo atendente', new_user_path %>
<span> | </span>
<%= link_to 'Sair', destroy_admin_session_path, method: :delete %>
